.element-content h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.25;
  font-family: 'Montserrat';
}
.element-content p {
  font-size: 20px;
  line-height: 1.25;
  margin: 0 0 10px;
  font-family: 'Montserrat';
}
.element-box {
  background-color: #1ABB9C;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px 50px;
}
.lightening-anime {
  position: relative;
  overflow: visible;
  float: left;
  top: 140px;
  left: 128px;
}
.light-rod {
  position: absolute;
  background-image: url(../img/shock-sprite.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
.element-box:hover .light-rod-1 {
  animation: animationFramesLeftLeft 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesLeftLeft 0.15s linear 0s alternate infinite both;
}
.light-rod-1 {
  background-position: 0 100%;
  width: 108px;
  height: 50px;
  margin-left: -100px;
}
.light-rod-2 {
  width: 80px;
  height: 56px;
  background-position: -33px -50px;
  margin-top: -47px;
  margin-left: -67px;
}
.element-box:hover .light-rod-2 {
  animation: animationFramesTopLeft 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesTopLeft 0.15s linear 0s alternate infinite both;
}
.light-rod-3 {
  width: 40px;
  height: 93px;
  background-position: -118px 0px;
  margin-top: -90px;
}
.element-box:hover .light-rod-3 {
  animation: animationFramesTopTop 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesTopTop 0.15s linear 0s alternate infinite both;
}
.light-rod-4 {
  width: 50px;
  height: 76px;
  background-position: -189px -21px;
  margin-top: -68px;
  margin-left: 44px;
}
.element-box:hover .light-rod-4 {
  animation: animationFramesTopRight 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesTopRight 0.15s linear 0s alternate infinite both;
}
.light-rod-5 {
  width: 98px;
  height: 42px;
  background-position: -209px -103px;
  margin-left: 46px;
  margin-top: -10px;
}
.element-box:hover .light-rod-5 {
  animation: animationFramesRightRight 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesRightRight 0.15s linear 0s alternate infinite both;
}
.hand {
  background: url(../img/hand.png) center no-repeat;
  background-size: contain;
  width: 80px;
  height: 99px;
  position: absolute;
  left: -4px;
  top: 10px;
}
@keyframes animationFramesTopLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: -30px;
  }
}
@-webkit-keyframes animationFramesTopLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: -30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesTopRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesTopRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesBottomLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 30px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesBottomLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 30px;
    left: 30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesBottomRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesBottomRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesTopTop {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 0px;
  }
}
@-webkit-keyframes animationFramesTopTop {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 0px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesLeftLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: -30px;
  }
}
@-webkit-keyframes animationFramesLeftLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: -30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesRightRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesRightRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 30px;
  }
}
.box-bulb {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}
.hand-box {
  width: 178px;
  overflow: visible;
  height: 122px;
  background: url(../img/box-hand.png) top left no-repeat;
  background-size: contain;
  position: absolute;
  left: -15px;
  right: 0;
  margin: auto;
  top: 111px;
  bottom: 0;
}
.bulb {
  height: 100px;
  width: 60px;
  background: url(../img/offBulb.png) top left no-repeat;
  background-size: contain;
  position: absolute;
  left: 32px;
  right: 0;
  margin: auto;
  top: -83px;
  bottom: 0;
  overflow: visible;
}
.box-bulb:hover .bulb {
  background: url(../img/onBulb.png) top left no-repeat;
  background-size: contain;
}
.bulb-rays {
  visibility: hidden;
  background: url(../img/bulbRays.png) top left no-repeat;
  height: 100px;
  width: 142px;
  background-size: contain;
  position: absolute;
  left: 42px;
  right: 0;
  margin: auto;
  top: 25px;
}
.box-bulb:hover .bulb-rays {
  visibility: visible;
}
.pencil-brain {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}
.pencil {
  position: absolute;
  top: 125px;
  left: 5px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  height: 137px;
  width: 55px;
  background: url(../img/pencil.png) left top no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.pencil-brain:hover .pencil {
  animation: pencilAnimation 0.6s ease-in-out 0 infinite;
  -webkit-animation: pencilAnimation 0.6s ease-in-out 0 infinite;
}
.brain {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 100px;
  margin: auto;
  height: 138px;
  width: 115px;
  background: url(../img/brain.png) left top no-repeat;
  background-size: contain;
}
@keyframes pencilAnimation {
  to {
    left: -3px;
  }
  from {
    left: 3px;
  }
}
@-webkit-keyframes pencilAnimation {
  0% {
    left: -6px;
  }
  50% {
    left: 6px;
  }
  100% {
    left: -6px;
  }
}
.lightning-box {
  background-color: #1ABB9C;
  border-radius: 100%;
}









.cssBW {
  width: 89px;
  height: 92px;
  background-position: -10px -2413px;
}
.html5BW {
  width: 104px;
  height: 92px;
  background-position: -109px -2413px;
}
.coffeeBW {
  width: 139px;
  height: 92px;
  background-position: -10px -2515px;
}
.csscolor {
  width: 89px;
  height: 87px;
  background-position: -159px -2515px;
}
.html5color {
  width: 88px;
  height: 87px;
  background-position: -223px -2413px;
}
.nodejsBW {
  width: 165px;
  height: 69px;
  background-position: -10px -2617px;
}
.coffeecolor {
  width: 155px;
  height: 61px;
  background-position: -10px -2696px;
}
.nodejscolor {
  width: 165px;
  height: 61px;
  background-position: -10px -2767px;
}
.careersOpenings {
  background: url("../img/animation-circles.png") top left no-repeat;
}
.techs {
  background: url("techs.png") top left no-repeat;
}
.css3_bw {
  width: 55px;
  height: 79px;
  background-position: -10px -10px;
}
.css3_bw:hover {
  width: 55px;
  height: 79px;
  background-position: -75px -10px;
}
.html5_bw {
  width: 56px;
  height: 79px;
  background-position: -10px -99px;
}
.html5_bw:hover {
  width: 56px;
  height: 79px;
  background-position: -76px -99px;
}
.coffee_bw:hover {
  width: 118px;
  height: 60px;
  background-position: -10px -188px;
}
.coffee_bw {
  width: 118px;
  height: 60px;
  background-position: -10px -258px;
}
.node_bw:hover {
  width: 142px;
  height: 39px;
  background-position: -11px -329px;
}
.node_bw {
  width: 142px;
  height: 39px;
  background-position: -10px -377px;
}
.meteo {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 73px;
  background: url(../img/meteo.png) no-repeat;
  background-size: 2500px 200px;
  background-position: -2265px 0px;
  -webkit-transform: rotate(7deg);
  cursor: pointer;
}
.element-box .meteo:hover {
  animation-duration: 250ms;
  animation-timing-function: step-start;
  animation-name: logoanimate;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-name: logoanimate;
}
@-webkit-keyframes logoanimate {
  0% {
    background-position: 87px 0px;
    -webkit-transform: rotate(0deg);
  }
  12% {
    background-position: -206px 0px;
    -webkit-transform: rotate(0deg);
  }
  24% {
    background-position: -500px 0px;
    -webkit-transform: rotate(0deg);
  }
  36% {
    background-position: -800px 0px;
    -webkit-transform: rotate(0deg);
  }
  48% {
    background-position: -1088px 0px;
    -webkit-transform: rotate(0deg);
  }
  60% {
    background-position: -1386px 0px;
    -webkit-transform: rotate(0deg);
  }
  72% {
    background-position: -1675px 0px;
    -webkit-transform: rotate(0deg);
  }
  84% {
    background-position: -1969px 0px;
    -webkit-transform: rotate(0deg);
  }
  100% {
    background-position: -2265px 0px;
    -webkit-transform: rotate(7deg);
  }
}
@-moz-keyframes logoanimate {
  0% {
    background-position: 0px 0;
  }
  25% {
    background-position: 85px 0;
  }
  50% {
    background-position: 170px 0;
  }
  75% {
    background-position: 255px 0;
  }
  100% {
    background-position: 340px 0;
  }
}

.circle {
  background: url("../img/circle2.png") top left no-repeat;
  background-size: 200px auto;
  margin: 0px 10px;
  width: 200px;
  height: 198px;
  cursor: pointer;
}
.circle h3 {
  text-align: center;
  margin-top: 285px;
  color: #5fb336;
}
.hr:hover {
  background-position: 0px -1px;
}
.hr {
  background-position: 0px -199px;
}
.mr:hover {
  background-position: 0px -396px;
}
.mr {
  background-position: 0px -594px;
}
.ds:hover {
  background-position: 0px -792px;
}
.ds {
  background-position: 0px -990px;
}
.sw:hover {
  background-position: 0px -1186px;
}
.sw {
  background-position: 0px -1384px;
}
#HR, #marketing, #design, #software-engg{
  margin: 0 auto;
}
.technologies {
  background: url("technologies.png") top left no-repeat;
  margin: auto;
}
.angular:hover {
  width: 86px;
  height: 90px;
  background-position: -10px -10px;
}
.angular {
  width: 86px;
  height: 90px;
  background-position: -10px -110px;
}
.mongo:hover {
  width: 76px;
  height: 84px;
  background-position: -10px -210px;
}
.mongo {
  width: 76px;
  height: 84px;
  background-position: -10px -304px;
}
.css3:hover {
  width: 62px;
  height: 84px;
  background-position: -96px -210px;
}
.css3 {
  width: 62px;
  height: 84px;
  background-position: -96px -304px;
}
.html5:hover {
  width: 62px;
  height: 84px;
  background-position: -10px -398px;
}
.html5 {
  width: 62px;
  height: 84px;
  background-position: -82px -398px;
}
.mysql:hover {
  width: 136px;
  height: 70px;
  background-position: -10px -492px;
}
.mysql {
  width: 136px;
  height: 70px;
  background-position: -10px -572px;
}
.coffee:hover {
  width: 133px;
  height: 66px;
  background-position: -10px -652px;
}
.coffee {
  width: 133px;
  height: 66px;
  background-position: -10px -728px;
}
.node:hover {
  width: 148px;
  height: 43px;
  background-position: -10px -804px;
}
.node {
  width: 148px;
  height: 43px;
  background-position: -10px -857px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
