@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?q5frr1');
	src:url('fonts/icomoon.eot?#iefixq5frr1') format('embedded-opentype'),
		url('fonts/icomoon.woff?q5frr1') format('woff'),
		url('fonts/icomoon.ttf?q5frr1') format('truetype'),
		url('fonts/icomoon.svg?q5frr1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-user:before {
	content: "\e601";
}
.icon-earth:before {
	content: "\e602";
}
